body{
	font-family: BebasNeue, Open Sans, sans-serif;
	margin: 0;
	color: #afafaf;
	background: #3cc3b5;
	background: linear-gradient(to bottom right, #40c6b1, #3ec2b7);
}
*, *:before, *:after{
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
	color: inherit;
	text-decoration: none;
}
input:active, input:focus{
	outline: none;
}
ul,li{
	list-style-type: none;
}
.cont-center{
	display: flex;
	align-items: center;
}

/*-----  HEADER  -----*/
.header{
	display: flex;
	align-items: center;
	padding: 15px 0;
	background: #fff;
}
.header__title{
	display: block;
	font-family: Lobster, serif;
	font-size: 49px;
	color: #3cc3b5;
}
.header__search{
	display: flex;
	border: 3px solid #e1e1e1;
	border-radius: 5px;
}
.header__input{
	width: 436px;
	height: 32px;
	border: none;
}
.header__share{
	padding: 5px;
}
.header__coast{
	display: flex;
	justify-content: space-around;
	text-align: center;
	font-size: 33px;
	color: #a1a1a1;
}
.header__basket{
	margin-right: 15px;
}

/*-----  NAVIGATION  -----*/
.navigation{
	background: #4ccfc1;
	color: #fff;
	font-size: 21px;
	padding: 5px 0 7px;
}
.navigation__nav{
	display: flex;
}
.navigation__link{
	padding: 0 25px;
	border-right: 2px solid #fff;
}
.navigation__link:first-child{
	padding-left: 0;
}
.navigation__link:last-child{
	border-right: none;
}

/*-----  BANNER  -----*/
.banner{
	padding: 60px 0 20px;
	color: #fff;
}
.banner__slider{
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}
.banner__slider-wrapper{
	width: 100%;
	max-width: 800px;
	height: 380px;
}
.banner__slide{
	display: none;
}
.banner__slide.active{
	display: flex;
}
.banner__img img{
	width: 100%;
	height: 100%;
}
.banner__info{
	padding-left: 95px;
}
.banner__title{
	line-height: 0.9em;
	font-size: 61px;
	padding: 10px 0 20px;
}
.banner__text{
	width: 406px;
	font-family: Open Sans, sans-serif;
	font-size: 17px;
	line-height: 1.7em;
	padding-bottom: 35px;
	word-wrap: break-word;
}
.banner__btn{
	padding: 7px 22px;
	border: 3px solid #fff;
	border-radius: 10px;
	font-size: 27px;
	letter-spacing: 0.04em;
}
.banner__dots{
	display: flex;
    justify-content: center;
    position: absolute;
    top: 95%;
    left: 50%;
}
.dot{
	width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff; 
    margin-right: 10px;
    cursor: pointer;
}
.dot.active{
	background-color: #78d4cd;
}
.dot:last-child{
	margin-right: 0;
}


/*-----  CATEGORIES  -----*/
.categories{
	background: #fff;
	margin: 25px 0;
}
.categories__inner{
	display: flex;
}
.categories__item{
	padding: 0 70px 0 20px; 
	display: flex;
	border-left: 1px solid #e7e7e7;
	align-items: center;
}
.categories__item:first-child{
	border-left: none;
	padding-left: 0;
}
.categories__img{
	display: block;
	
}
.categories__info{
	display: block;
}
.categories__title{
	width: 77px;
	font-size: 27px;
}
.categories__btn{
	width: 60px;
	display: block;
	color: #fff;
	background: #3cc395;
	text-align: center;
	font-size: 19px;
	border: 3px solid #3cc395;
	padding: 0 12px;
	border-radius: 5px;
}
.categories__btn:hover{
	color: #3cc395;
	background: #fff;
}